body{
    margin: 0;
    padding: 0;
    outline: none;
    font-family: "Arial";
}

.txt{
    height: 35px;
    width: 250px;
    border: none;
    border-radius: 5px;
    background-color: #eee;
    padding: 4px;
}

#cad_table{
    height: 200px;
    margin: 0 auto;
    padding: 10px;
    border: none;
    top:50%;
    margin-top: 200px;
}

#bntcad{
    width: 100px;
    height: 30px;
    background-color: forestgreen;
    border-radius: 10px;
    border: none;
}